In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu,shapiro,wilcoxon
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
A=pd.read_table('HR.txt',index_col=0)

In [3]:
# Two sample proportion test is conducted on two categories
# QUESTION1 : Does gender have effect in attrition
# Ho : Attrition rate of male = Attrition rate of female
# Ha : Not equal

In [4]:
pd.crosstab(A['Attrition'],A['Gender'])

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [5]:
# what proportion of male employees left the organisation:
p1 = 150 / (732+150)
p1

0.17006802721088435

In [6]:
# what proportion of female employees left the organisation:
p2 = 87 / (501+87)
p2

0.14795918367346939

In [7]:
# total number of attritioned cases
pp = 237 /1470
pp

0.16122448979591836

In [8]:
z_data = (p1-p2)/ np.sqrt(pp * (1-pp) * (1/882 + (1/588)))
z_data

1.1292547809155016

In [9]:
from statsmodels.stats.proportion import proportions_ztest

In [10]:
x = np.array([150,87])
n = np.array([882,588])
proportions_ztest(x,n)
# Ho holds true

(1.1292547809155016, 0.2587903704911598)

In [11]:
mig = pd.read_csv('Migraine.csv')

In [12]:
mig.head()

   Unnamed: 0  id  time  dos hatype  age  airq  medication headache  Gender
0           1   1   -11  753   Aura   30   9.0  continuing      yes  female
1           2   1   -10  754   Aura   30   7.0  continuing      yes  female
2           3   1    -9  755   Aura   30  10.0  continuing      yes  female
3           4   1    -8  756   Aura   30  13.0  continuing      yes  female
4           5   1    -7  757   Aura   30  18.0  continuing      yes  female

In [13]:
# QUESTION : Does gender have effect on headaches
# Ho = Proportion of male having headache = proporion of female having headache
pd.crosstab(mig['Gender'],mig['headache'])

headache    no   yes
Gender
female    1266  2279
male       220   387

In [14]:
x = np.array([387,2279])
n = np.array([607,3545])
proportions_ztest(x,n)
# Ho hold true
# So headache does not depend on gender factor

(-0.2524275906432048, 0.8007105762350393)

# CHI SQUARE

In [ ]:
# CHI SQUARE
# QUESTION : Does gender play a role in type of headache -hatype(aura,no aura,mixed)

In [18]:
mig['hatype'].value_counts()

No Aura    1985
Aura       1710
Mixed       457
Name: hatype, dtype: int64

In [21]:
CT =pd.crosstab(mig['hatype'],mig['Gender'])
CT

Gender   female  male
hatype
Aura       1593   117
Mixed       291   166
No Aura    1661   324

In [28]:
ec1=(CT['female'].sum()*CT.loc['Aura'].sum())/mig.shape[0] 
ec2=(CT['female'].sum()*CT.loc['Mixed'].sum())/mig.shape[0] 
ec3=(CT['female'].sum()*CT.loc['No Aura'].sum())/mig.shape[0] 
ec4=(CT['male'].sum()*CT.loc['Aura'].sum())/mig.shape[0] 
ec5=(CT['male'].sum()*CT.loc['Mixed'].sum())/mig.shape[0] 
ec6=(CT['male'].sum()*CT.loc['No Aura'].sum())/mig.shape[0] 
PFA=1593/3545 
PFM=291/3545 
PFNA=1661/3545 
PFA,PFM,PFNA

(0.44936530324400564, 0.08208744710860366, 0.4685472496473907)

In [29]:
PMA=117/607 
PMM=166/607 
PMNA=324/607 
PMA,PMM,PMNA
# WE can say seeing the percentages that female dominates in aura headache,male dominate in mixed aura (thrice)
# and in a small difference male domiates in no aura

(0.1927512355848435, 0.27347611202635913, 0.5337726523887973)

In [30]:
oc=np.array([1593,291,1661,117,166,324]) 
ec=np.array([ec1,ec2,ec3,ec4,ec5,ec6]) 
chi_sq=np.sum((oc-ec)**2/ec) 
chi_sq

259.94962922327386

In [32]:
# using buil in func for chi sq
from scipy.stats import chi2_contingency 
chi2_contingency(CT)
# THEREFORE GENDER AFFECTS

(259.94962922327386,
 3.569893234435195e-57,
 2,
 array([[1460.00722543,  249.99277457],
        [ 390.18906551,   66.81093449],
        [1694.80370906,  290.19629094]]))

# SINGLE ROW CHI SQAURE ONE FACTOR

Operation manager believes that 30% of passengers prefer vegan,45% vegeterian,20% non veg and 5 % jain food.

But the given data is :
Food type                vegan        vegeterian       non veg           jain
No. of passengers         190           185             90                 35

In [1]:
# IT IS TEST OF PROPORTION


#ho : meal received as per the proportion
# ha : not equal

In [34]:
import scipy.stats as stats
import scipy

In [39]:
observed_values = np.array([190,185,90,35])
n = observed_values.sum()
expected_values = np.array([n*0.3,n*0.45,n*0.2,n*0.05])
stats.chisquare(observed_values,f_exp = expected_values)

Power_divergenceResult(statistic=22.77777777777778, pvalue=4.492718590376291e-05)