In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu,shapiro,wilcoxon
from statsmodels.stats.power import ttest_power
from statsmodels.stats.proportion import proportions_ztest
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols
from   statsmodels.stats.anova import anova_lm
import seaborn as sns
from scipy.stats import chi2_contingency

machine learning is to predict something
Why statistics for machine learning?
reasons to prove mathematically that there is a need for some proposal

In [2]:
df = pd.read_excel('Salary.xlsx')

In [3]:
df

    Age  Gender Education   Experience  Job_Status  Salary
0     22      M        U.G            1        Yes    20000
1     34      M        P.G           10        Yes    57000
2     44      M        P.G           12        Yes    78000
3     21      M        H.S            0         No        0
4     19      M        H.S            0         No        0
5     22      M        U.G            1        Yes    22000
6     23      M        U.G            2        Yes    22000
7     43      M        P.G           15        Yes    90000
8     55      M        PHD           23        Yes   220000
9     27      M        U.G            3        Yes    28000
10    28      M        U.G            5        Yes    31000
11    55      M        P.G           21        Yes    78000
12    28      M        U.G            4        Yes    30000
13    44      M        P.G           16        Yes    80000
14    27      M        U.G            2        Yes    22000
15    37      M        P.G           12        Yes    90000
16    45      M        PHD           17        Yes   200000
17    22      M        U.G            2        Yes    21000
18    22      M        U.G            2        Yes    21000
19    22      F        U.G            1        Yes    21000
20    21      F        H.S            0         No        0
21    21      F        H.S            0         No        0
22    21      F        H.S            0         No        0
23    21      F        H.S            0         No        0
24    55      F        P.G           22        Yes   100000
25    54      F        P.G           32        Yes    48000
26    56      F        P.G           31        Yes    65000
27    65      F        PHD           40        Yes   190000
28    32      F        P.G            9        Yes    48000
29    33      F        P.G            8        Yes    55000
30    34      F        P.G            9        Yes    60000
31    43      F        P.G           15        Yes    95000
32    51      F        PHD           19        Yes   200000
33    22      F        U.G            1        Yes    21000
34    22      F        U.G            1        Yes    21000
35    33      F        P.G           10        Yes    80000
36    45      F        P.G           17        Yes    87000