In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Salary.xlsx')

In [3]:
df.head()

   Age  Gender Education   Experience  Job_Status  Salary
0    22      M        U.G            1        Yes    20000
1    34      M        P.G           10        Yes    57000
2    44      M        P.G           12        Yes    78000
3    21      M        H.S            0         No        0
4    19      M        H.S            0         No        0

In [ ]:
weights before Yoga 

Weights After Yoga

In [4]:
### Statistical Tests

In [5]:
from scipy.stats import ttest_ind

from scipy.stats import ttest_rel

In [6]:
## Age VS Salary 

## Continuos VS Continuos 

Null Hypothesis :  Salary and Age are Independent.
    
Alternate Hypothesis : Salary and Age are dependent.


ttest_ind(df['Age '],df['Salary '])

Ttest_indResult(statistic=-6.094821221575457, pvalue=4.90510390942578e-08)

In [ ]:
p_value < 0.05 so you can reject Null Hypothesis

In [ ]:
# Gender VS Salary 

#Gender we have 2 Categories 

# Separate Male Samples and Female Samples 

Null : Gender & Salary are Independent 
    
Alternate : Gender & Salary are Dependent

In [7]:
df_m = df[df['Gender']=='M']

In [9]:
df_f = df[df['Gender']=='F']

In [10]:
ttest_ind(df_m['Salary '],df_f['Salary '])

Ttest_indResult(statistic=-0.11066719807095195, pvalue=0.9125124322361853)

In [13]:
ttest_ind(df[df['Gender']=='M']['Salary '],df[df['Gender']=='F']['Salary '])

Ttest_indResult(statistic=-0.11066719807095195, pvalue=0.9125124322361853)

In [18]:
f_oneway(df[df['Gender']=='M']['Salary '],df[df['Gender']=='F']['Salary '])

F_onewayResult(statistic=0.012247228728875334, pvalue=0.9125124322361945)

In [ ]:
###   Salary VS Education

In [15]:
df['Education '].value_counts()

P.G    15
U.G    12
H.S     6
PHD     4
Name: Education , dtype: int64

In [14]:
from scipy.stats import f_oneway

In [17]:
f_oneway(df[df['Education ']=='P.G']['Salary '],df[df['Education ']=='U.G']['Salary '],df[df['Education ']=='H.S']['Salary '],df[df['Education ']=='PHD']['Salary '])

F_onewayResult(statistic=277.9677228528118, pvalue=1.7454219109592427e-23)

In [20]:
from scipy.stats import chi2_contingency

## Job_Status vs Education

In [21]:
pd.crosstab(df['Education '],df['Job_Status'])

Job_Status  No  Yes
Education
H.S          6    0
P.G          0   15
PHD          0    4
U.G          0   12

In [22]:
chi2_contingency(pd.crosstab(df['Education '],df['Job_Status']))

(37.0,
 4.601379774518354e-08,
 3,
 array([[ 0.97297297,  5.02702703],
        [ 2.43243243, 12.56756757],
        [ 0.64864865,  3.35135135],
        [ 1.94594595, 10.05405405]]))