In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu,shapiro,wilcoxon
from statsmodels.stats.power import ttest_power
from statsmodels.stats.proportion import proportions_ztest
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats

In [2]:
#QUIZ-1 #Health officials of India is expecting Covid-19 is affecting more men than women, 
#they are expecting 65% of affected case in India are Men. To verify this hypothesis, random 
#samples (n=1500) across India were collected,the samples are as follows: Men:900, Women:600

In [3]:
# more than two category  -  chi square
# upto two category  -  proportions_ztest
# here we are going to check only for male so proportions_ztest is enuff

In [4]:
# Ho : Pp(male) = 65%
# Ha : Pp(male) != 65%
proportions_ztest(900,1500,0.65)

(-3.9528470752104776, 7.722679550543272e-05)

In [5]:
# Sample doesn't represent the expected proportion on the population. 
# Health officials need to change their expection as less than 65%

In [6]:
#QUIZ-2 
#Now they are expecting 60% Senior Citizens, 30% Young & Middle aged and 10% Childrens 
#A random samples (n=2000) collected across India and found to be [Senior citizens:1100,Y&M:500,C:400]

In [7]:
stats.chisquare([1100,500,400],[0.6*2000,0.3*2000,0.1*2000])

Power_divergenceResult(statistic=225.0, pvalue=1.3863432936411693e-49)

In [8]:
1100/2000,500/2000,600/2000

(0.55, 0.25, 0.3)

In [9]:
# p-val<0.05, we reject Ho:ie., health officials expectations were wrong,
# they need to change their expectations (more no(20%) of childrens are affected were affected then 
# the expected 10%)

In [10]:
#QUIZ-3 #Also they are analyzing the impact of disease in different human settlement area, 
#The collected data showing the charactersistics below, Check the significance of human settlement type 
#affecting the disease 
df1=pd.DataFrame({'Rural':[867,490],'urban':[500,550]}) 
df1.index=['Negative','Positive'] 
df1

          Rural  urban
Negative    867    500
Positive    490    550

In [11]:
# Ho : pos(rural) = pos(urban)
# Ha : pos(rural) != pos(urban)
proportions_ztest([490,550],[1357,1050])

(-7.9920767350927475, 1.3268440495388725e-15)

In [12]:
490/1357,550/1050

(0.3610906411201179, 0.5238095238095238)

In [13]:
# P<0.05 so we reject Ho which implies Ha holds good 
# that is urban settlements were highly affected than rural

In [14]:
#QUIZ-4 
#Similar such data were collected from europe and counts appear to be like this 
#Check the pattern is similar between two countries 
df=pd.DataFrame({'India':[1100,500,400],'europe':[800,450,300]}) 
df.index=['Seniors','Y&M','Childrens'] 
df

           India  europe
Seniors     1100     800
Y&M          500     450
Childrens    400     300

In [15]:
# 2 dimensional and more than 2 categories
stats.chi2_contingency(df)

(7.361751152073733,
 0.02520089986844925,
 2,
 array([[1070.42253521,  829.57746479],
        [ 535.21126761,  414.78873239],
        [ 394.36619718,  305.63380282]]))

# ANOVA 
Mstr should be large for Ha to hold true and Mse should be less
Fstat = Mstr / Mse

In [16]:
from scipy.stats import f_oneway

In [17]:
D=[43,45,45,47] 
E=[37,40,40,43]
F=[34,35,35,36]
A=[30,40,50,60] 
B=[25,30,50,55]
C=[25,30,40,45]

In [18]:
f_oneway(A,B,C)

F_onewayResult(statistic=0.6428571428571429, pvalue=0.5483227164089495)

In [19]:
f_oneway(D,E,F)

F_onewayResult(statistic=32.14285714285714, pvalue=7.970844367886858e-05)

In [20]:
# TWO WAY ANOVA
df  = pd.read_table('HR.txt')

In [21]:
df

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Ind1466,No,36,2,884,2,23,2,2,1,...,3,80,1,17,3,3,5,2,0,3
1466,Ind1467,No,39,1,613,2,6,1,2,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ind1468,No,27,1,155,2,4,3,1,1,...,2,80,1,6,0,3,6,2,0,3
1468,Ind1469,No,49,2,1023,1,2,3,2,1,...,4,80,0,17,3,2,9,6,0,8
1469,Ind1470,No,34,1,628,2,8,3,2,1,...,1,80,0,6,3,4,4,3,1,2

In [22]:
df.columns

Index(['Individual ', 'Attrition', 'Age', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [23]:
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols
from   statsmodels.stats.anova import anova_lm

In [24]:
df['Department'].values

array([1, 2, 2, ..., 2, 1, 2])

In [25]:
formula = 'MonthlyIncome ~ C(Department) + C(Gender) + C(Department):C(Gender)'
model = ols(formula, df).fit()
aov_table = anova_lm(model, typ=2)

print(aov_table)

PatsyError: Error evaluating factor: TypeError: 'list' object is not callable
    MonthlyIncome ~ C(Department) + C(Gender) + C(Department):C(Gender)
                                    ^^^^^^^^^