In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu,shapiro,wilcoxon
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
A=pd.read_table('HR.txt',index_col=0)

In [3]:
# Two sample proportion test is conducted on two categories
# QUESTION1 : Does gender have effect in attrition
# Ho : Attrition rate of male = Attrition rate of female
# Ha : Not equal

In [4]:
pd.crosstab(A['Attrition'],A['Gender'])

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [6]:
# what proportion of male employees left the organisation:
p1 = 150 / (732+150)
p1

0.17006802721088435

In [7]:
# what proportion of female employees left the organisation:
p2 = 87 / (501+87)
p2

0.14795918367346939

In [8]:
# total number of attritioned cases
pp = 237 /1470
pp

0.16122448979591836

In [11]:
z_data = (p1-p2)/ np.sqrt(pp * (1-pp) * (1/882 + (1/588)))
z_data

1.1292547809155016

In [12]:
from statsmodels.stats.proportion import proportions_ztest

In [16]:
x = np.array([150,87])
n = np.array([882,588])
proportions_ztest(x,n)
# Ho holds true

(1.1292547809155016, 0.2587903704911598)

In [17]:
mig = pd.read_csv('Migraine.csv')

In [18]:
mig.head()

   Unnamed: 0  id  time  dos hatype  age  airq  medication headache  Gender
0           1   1   -11  753   Aura   30   9.0  continuing      yes  female
1           2   1   -10  754   Aura   30   7.0  continuing      yes  female
2           3   1    -9  755   Aura   30  10.0  continuing      yes  female
3           4   1    -8  756   Aura   30  13.0  continuing      yes  female
4           5   1    -7  757   Aura   30  18.0  continuing      yes  female

In [19]:
# QUESTION : Does gender have effect on headaches
pd.crosstab(mig['Gender'],mig['headache'])

headache    no   yes
Gender
female    1266  2279
male       220   387

In [23]:
x = np.array([387,2279])
n = np.array([607,3545])
proportions_ztest(x,n)

(-0.2524275906432048, 0.8007105762350393)

In [22]:
2279+1266

3545

In [ ]:

# time 4:42

# ec1=(CT['female'].sum()*CT.loc['Aura'].sum())/M.shape[0] ec2=(CT['female'].sum()*CT.loc['Mixed'].sum())/M.shape[0] ec3=(CT['female'].sum()*CT.loc['No Aura'].sum())/M.shape[0] 
# ec4=(CT['male'].sum()*CT.loc['Aura'].sum())/M.shape[0] ec5=(CT['male'].sum()*CT.loc['Mixed'].sum())/M.shape[0] ec6=(CT['male'].sum()*CT.loc['No Aura'].sum())/M.shape[0] 
# PFA=1593/3545 PFM=291/3545 PFNA=1661/3545 PFA,PFM,PFNA 
# PMA=117/607 PMM=166/607 PMNA=324/607 PMA,PMM,PMNA 
# oc=np.array([1593,291,1661,117,166,324]) ec=np.array([ec1,ec2,ec3,ec4,ec5,ec6]) 
# chi_sq=np.sum((oc-ec)**2/ec) chi_sq 
# from scipy.stats import chi2_contingency