In [13]:
# importing pandas module for using dataframes and associated in-built functions
import pandas as pd

# creating dataframe df using the data values given in question
df = pd.DataFrame({'data' : [200, 300, 400, 600, 1000]} )

# a) min_max scaling

# Forumula : min_max value = (x - x min) / (x max - x min)
# x is the data, x max is the largest data and x min is the smallest data
x_min = df['data'].min()
x_max = df['data'].max()

# creating a new column for the normalized values by min_max method
df['min_max'] = (df['data']-x_min)/(x_max-x_min)

# b) z-score normalization

# Formula : z-score value = (x - mean value of data) / standard value deviation
# mean can be computed by df['data'].mean() and standard value deviation can
# be computed by df['data'].std()

# creating a new column for the normalized values by z score method
df['z_score'] = (df['data']-df['data'].mean())/df['data'].std()

# displaying df dataframe
df

   data  min_max   z_score
0   200    0.000 -0.948683
1   300    0.125 -0.632456
2   400    0.250 -0.316228
3   600    0.500  0.316228
4  1000    1.000  1.581139