<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [1]:
lm= lambda x : x.upper()
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
op=list(map(lm,lsbool))
print(op)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here
def height(*arg):
    print(arg,"are the heights of the student")
height(170,180,170,160)

(170, 180, 170, 160) are the heights of the student

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# type your code here
d= {'Square': lambda x:x**2, 'Cube':lambda x:x**3, 
        'Squareroot': lambda x : x**0.5, 'Double': lambda x:x*2}
n=int(input("Enter the Num: "))
result=0
total=0
for i in d:
    res=d[i](n)
    total=tot+res
print(total) 
# ip is list

Enter the Num: 4
90.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [24]:
# type your code here
lm = lambda x:x[1].isupper()
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
l=list(filter(lm,ls))
print(l)

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [1]:
lam= lambda x:x[1]>40
tm=(32,50,75,12)
tn=('John','Sharon','Jack','Annie')
d1=dict(zip(tn,tm))
print(d1)
lm=list(filter(lam,d1.items()))
print(lm)

{'John': 32, 'Sharon': 50, 'Jack': 75, 'Annie': 12}
[('Sharon', 50), ('Jack', 75)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [2]:
# type your code here
lam = lambda x:(x[1]/9.81)*1.622
d={'John':45, 'Shelly':65, 'Marry':35}
s=list(map(lam,d.items()))
print(s)
s1=d.keys()
print(s1)
res=dict(zip(s1,s))
print(res)

[7.440366972477065, 10.747196738022426, 5.786952089704384]
dict_keys(['John', 'Shelly', 'Marry'])
{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704384}

In [ ]:
# (Weight on Earth/9.81m/s2) * 1.622m/s2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [7]:
from functools import reduce

In [8]:
lam=lambda x,y:set(x)&set(y)
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
reduce(lam,given_sets)

{3, 8}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type your code here
def price_pro(**kwargs):
    print("The price of different products are: ",kwargs)
price_pro(product1="Hand Sanitizer", price1=400,product2="Mask",price2=500)

The price of different products are:  {'product1': 'Hand Sanitizer', 'price1': 400, 'product2': 'Mask', 'price2': 500}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [43]:
# type your code here
num_1=16
num_2=12
def mul():
    global res
    res=num_1*num_2
    return res
print("The mul of 2 numbers are",mul())

The mul of 2 numbers are 192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [2]:
from itertools import accumulate
lam= lambda x,y:x+y
ip=[9,8,7,6,5]
l=list(accumulate(ip,lam))
lm= lambda x,y:x/y
l1=range(1,len(ip)+1)
res= list(map(lm,l,l1))
print(res)

[9.0, 8.5, 8.0, 7.5, 7.0]